## BONUS: Explora los datos del dataset de Titanic

El dataset de Titanic es un dataset muy famoso en el mundo del análisis de datos. Contiene información sobre los pasajeros del Titanic, incluyendo si sobrevivieron o no, su edad, sexo, clase, etc.

In [18]:
CSV_PATH = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
import pandas as pd
Titanic_df = pd.read_csv(CSV_PATH)
Titanic_df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Hazte preguntas como, ¿Qué porcentaje de pasajeros sobrevivió? ¿Cuál es la edad media de los pasajeros? ¿Cuántos pasajeros había en cada clase? ¿Cuál es la edad media de los pasajeros que sobrevivieron y de los que no? ¿Cuál es la edad máxima de los pasajeros que sobrevivieron y de los que no?

In [9]:
#Porcentaje de supervivientes
import numpy as np
Total_Supervivientes=np.sum(Titanic_df.Survived)
Total_Pasajeros=np.size(Titanic_df.Survived)
Porcentaje_supervivientes=np.divide(Total_Supervivientes, Total_Pasajeros)
Porcentaje_supervivientes

0.3838383838383838

¿Cuantos pasajeros había de cada clase?

In [10]:
clase=Titanic_df['Pclass']
clase.value_counts()

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

¿Cuál es la edad media de los pasajeros que sobrevivieron y de los que no?

In [12]:
Pasajeros_supervivientes = Titanic_df['Survived']==1
Edad_media_supervivienetes =np.mean(Titanic_df[Pasajeros_supervivientes]['Age'])
Edad_media_supervivienetes

28.343689655172415

In [13]:
Pasajeros_no_supervivientes =Titanic_df['Survived']==0
Edad_media_no_supervivientes=np.mean(Titanic_df[Pasajeros_no_supervivientes]['Age'])
Edad_media_no_supervivientes

30.62617924528302

¿Cuál es la edad máxima de los pasajeros que sobrevivieron y de los que no?

In [14]:
edad_max_supervivientes= Titanic_df[Pasajeros_supervivientes]['Age'].max()
edad_max_supervivientes

80.0

In [15]:
edad_max_no_supervivientes= Titanic_df[Pasajeros_no_supervivientes]['Age'].max()
edad_max_no_supervivientes

74.0

Yo, mujer de 49 años, clase obrera (tercera).  ¿Hubiera sobrevivido?

In [16]:
Pasajera_mujer = Titanic_df['Sex']=="female"
Annos_49=Titanic_df['Age']==49.0
Tercera_Clase= Titanic_df['Pclass']==3
Titanic_df[Pasajera_mujer&Annos_49&Tercera_Clase&Pasajeros_supervivientes]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

In [17]:
Titanic_df[Pasajera_mujer&Annos_49&Pasajeros_supervivientes] #solo sobreviven dos de primera clase

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0,1,0,PC 17572,76.7292,D33,C
796,797,1,1,"Leader, Dr. Alice (Farnham)",female,49.0,0,0,17465,25.9292,D17,S

Moraleja.  Si no tienes pasta....viaja en tren.